{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><img  style="width:40px;"src="/images/fb.png" alt="Facebook"></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><img  style="width:40px;"src="/images/gplus.png" alt="Gplus"></a>{% endif %}
{% if site.footer-links.creator %}<a href="{{ site.footer-links.creator }}">
<span class="autor-site">
<img  src="/images/logo-smd.png" alt="Soulmatters Design"><span class="sm-design"></span>
</span>
</a>

{% endif %}