.poza-cosmin img{
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 500px;
}
.poza-cosmin{

}
.descriere-cosmin{
	padding: 20px;
	margin:20px;
	
    font-family: 'Lato', sans-serif;
}
