---
layout: default
---
<style>
	.post{
		background: #fff;
		width: 100%;
		margin: 20px auto;
		padding: 20px;
		max-width: 1000px;
		color:#212121;
	}
</style>
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Scris la data de <!-- Whitespace added for readability -->
{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Ianuarie
  {% when '2' %}Februarie
  {% when '3' %}Martie
  {% when '4' %}Aprilie
  {% when '5' %}Mai
  {% when '6' %}Iunie
  {% when '7' %}Iulie
  {% when '8' %}August
  {% when '9' %}Septembrie
  {% when '10' %}Octombrie
  {% when '11' %}Noiembrie
  {% when '12' %}Decembrie
{% endcase %}
{{ page.date | date: "%Y" }}

  </div>

  {% include disqus.html %}
</article>
